<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortner</h1>
      <form action="" method="post" class="my-4 form-inline">
        <label for="fullUrl"></label>
        <input
          placeholder="enter the full url"
          type="url"
          name="fullUrl"
          id="fullUrl"
        />
        <button>Submit</button>
      </form>

      <table>
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>No. Of Clicks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://fwfbxdx">https://fwfbxdx</a></td>
            <td><a href="/123">123</a></td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
